@import '../../styles/variables';

.main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: $background;
        opacity: 1;
      }
       
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $secondary-color; 
        border-radius: 2px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $secondary-variant-color;
    }

    &__division {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $primary-color;
        margin: 1em 0;
        padding: 0;
        margin-bottom: 24px;

        &:nth-child(n){
           margin-top: 32px; 
        }
    }

    &__body {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }

    &__shape {
        width: 90%;
        max-width: 1530px;

        @media (max-width: $mid) {
            width: 99%;
        }
    }
    
    &__home {
        width: 100%;
        height: 100vh;
        min-height: 800px;
        max-height: 1000px;
        box-sizing: border-box;
        display: flex;

        @media (max-width: $mid) {
            flex-direction: column-reverse;
            gap: 32px;
        }

        &__description {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            animation: showPhoto;
            animation-duration: 1.5s;

            @media (max-width: $mid) {
                width: 100%;
                align-self: center;
                justify-content: flex-start;
                align-items: center;
            }

            @media (max-width: $small) {
                flex: 1;
            }

            &__box {
                width: 400px;
                @media (max-width: $small) {
                    width: 350px;
                }
            }

            &__text {
                width: fit-content;
                display: flex;
                align-items: center;
                position: relative;

                @media (max-width: $small) {
                    font-size: 3.2rem !important;
                }

                &:before{
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background-color: $background;
                    border-left: 2px solid $primary-color;
                    animation: animate 10s steps(12) forwards;
                    transition: all .1;
                    animation-delay: 2s;
                }

                @keyframes animate {
                    10%,20%, 30%{
                        border-color: $background;
                    }
                    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95%{
                        border-color: $primary-color;
                    }
                    50%, 70%, 80%, 90%{
                        border-color: $background;
                    }
                    15%, 60%{
                        border-color: $background;
                        left: 100%;
                    }
                    80%{
                        left: 100%;
                    }
                    100% {
                        left: 100%;
                        border-color: $background;
                    }
                }
            }

            &__code {
                width: fit-content;
                position: relative;
                font-size: 1.5rem;

                @media (max-width: $small) {
                    font-size: 1.4rem !important;
                }

                &:before{
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background-color: $background;
                    border-left: 2px solid $primary-color;
                    animation: animateCode 10s steps(12) infinite;
                    transition: all .1;
                    animation-delay: 2s;
                }

                @keyframes animateCode {
                    10%,20%, 30%{
                        border-color: $background;
                    }
                    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95%{
                        border-color: $primary-color;
                    }
                    50%, 70%, 80%, 90%{
                        border-color: $background;
                    }
                    15%, 60%{
                        border-color: $background;
                        left: 100%;
                    }
                    80%{
                        left: 0%;
                    }
                    100% {
                        left: 0%;
                    }
                }
            }

            &__icons {
                margin-top: 24px;
                padding-top: 8px;
                border-top: 1px solid $primary-color;
                display: flex;
                justify-content: space-around;

                &__buttons {
                    width: 50px;
                    height: 50px;
                    font-size: 90px;
                    &:hover {
                        color: $primary-color !important;
                    }

                }
            }

            &__curriculo {
                width: 100%;
                margin-top: 16px !important;
                color: $secondary-color !important;
                border-color: $secondary-color !important;

                &:hover {
                    background-color: $secondary-color !important;
                    color: white !important;
                }
            }
        }

        &__profile {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;
            animation: showPhoto;
            animation-duration: 1.5s;

            @keyframes showPhoto {
                from {
                    opacity: 0;
                    filter: blur(15px);
                    transform: translateY(+100%);
                }
                to {
                    opacity: 1;
                    filter: blur(0);
                    transform: translateY(0);
                }
            }

            @media (max-width: $mid) {
                width: 100%;
                align-self: center;
                flex: 0;
            }
            @media (max-width: $small) {
                flex: 1;
                align-items: flex-end;
            }

            &__img {
                width: 350px;
                height: 350px;
                border-radius: 16px;
                background-image: url('../../assets/profile.jpeg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                display: block;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;

                @media (max-width: $small) {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }

    &__about {
         width: 100%;
         display: flex;
         justify-content: center;

         article {
            width: 80%;

            & p {
                text-align: justify;
                font-size: 1rem;
            }
         }

         &__title {
            text-align: center;
            margin-bottom: 16px !important;
         }
    }

    &__skills {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__text {
            text-align: center;
            margin-bottom: 16px !important;
        }
        
        &__body {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 32px;
            gap: 16px;
         }

         &__card {
            transition: all .4s ease !important;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
                transform: translateY(-35px) scale(1.1) !important;
            }
         }
    }

    &__projects {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__text {
            text-align: center;
            margin-bottom: 16px !important;
        }
        &__body {
            width: 81%;
            display: flex;
            flex-wrap: wrap;
            margin: 32px;
            gap: 16px;
            align-items: center;
            justify-content: center;
            padding: 0;
         }

         &__card {
            transition: all .4s ease !important;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
                transform: translateY(-35px) scale(1.1) !important;
            }
         }
    }

    &__experience {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__body {
            width: 81%;
            display: flex;
            margin: 32px;
            gap: 16px;
            justify-content: flex-start !important;
            padding: 0;
         }

        &__text {
            text-align: center;
            margin-bottom: 16px !important;
        }

        &__card {
            display: flex;
            padding: 16px 8px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
            gap: 16px;

            & img {
                width: 48px;
                height: 48px;
            }

            & ul {
                list-style: disc !important;
            }
        }
    }

    &__contact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__text {
            text-align: center;
            margin-bottom: 16px !important;
        }

        &__body {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 32px;
            gap: 16px;
         }

        &__paragraph {
            width: calc(50% - 16px);
            display: flex;
            align-items: center;
            gap: 16px;
            color: $secondary-color !important;
            cursor: pointer;
            @media (max-width: $mid) {
                width: 100%;
            }
        }
    }
}