$primary-color: #1976d2;
$secondary-color: #d27619;
$secondary-variant-color: #e5ad54;
$accent-color: #7619d2;
$background: #FFF;
$text: #121212;

// -- Size --
$mid: 900px;
$small: 450px;
$large: 1032px;
$mx_large: 1130px;