@import './variables';

.light {

    h1,h2,h3,h4,p {
        color: $text;
    }

    b {
        color: $secondary-color
    }

    .text {
        color: $text;
    }

    .background {
        background-color: $background;
    }

    .primary {
        background-color: $primary-color;
    }

    .text_primary {
        color: $primary-color;
    }

    .secondary {
        background-color: $secondary-color;
    }

    .text_secondary {
        color: $secondary-color;
    }

}
